@import "tailwindcss";

@layer base {
  button {
    @apply px-5 h-8 border cursor-pointer text-sm;
  }
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.space-grotesk {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

::selection {
  background: black;
  color: white;
}
